@import "variables.scss";
@import "bootstrap/mixins/_clearfix.scss";
@import "bootstrap/mixins/_center-block.scss";
@import "bootstrap/mixins/_hide-text.scss";

body {
    padding-top: 0px;
    padding-bottom: 20px;
    background-color: $light-grey;
}

footer {
    position: absolute;
    bottom: 0;
    padding-top: 2em;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: $footer-height;
    background-color: $gray-dark;
}

.control-label {
    font-weight: bold;
    margin-bottom: -5px;
}

.checkbox {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}


.label-default {
    background-color: #2F3132;
}

.label-default[href]:hover, .label-default[href]:focus {
    background-color: #161718;
}

.label-primary {
    background-color: #8B418C;
}

.label-primary[href]:hover, .label-primary[href]:focus {
    background-color: #683169;
}

.label-success {
    background-color: #1FAE69;
}


.label-info {
    background-color: #5bc0de;
}


.label-warning {
    background-color: #FA9F2D;
}

.label-danger {
    background-color: #E64B3F;
}


.page-header {
    margin-bottom: 0;
    margin-top: 10px;
    margin-left: 60px;
    margin-bottom: -20px;

    h1.page-title {
        font-size: $font-size-h2;
        margin-top: 0;
        color: #8b418c
    }

    .page-title:first-letter {
        text-transform: uppercase;
    }
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.panel {
    margin-bottom: 22px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 1px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-body {
    padding: 30px;
}

.panel-body:before, .panel-body:after {
    content: " ";
    display: table;
}

.panel-body:after {
    clear: both;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.panel-heading > .dropdown .dropdown-toggle {
    color: inherit;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    color: inherit;
}


$boxshadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.16), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
$background: #fff;
$footer-height: 60px;
/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;

    body {
        /* Margin bottom by footer height */
        margin-bottom: $footer-height;
    }

    footer {
        position: absolute;
        bottom: 0;
        padding-top: 2em;
        width: 100%;
        /* Set the fixed height of the footer here */
        height: $footer-height;
        background-color: grey;
    }
}




.scrollToTop {
    bottom: 0;
    left: unset;
    margin: 30px;
    position: fixed;
    right: 0;
    z-index: 1030;
    width: 61px;
    height: 48px;

    .glyphicon {
        font-size: 25px;
        padding-top: 5px;
    }
}


.logo {
    margin-top: 2em;
    background-image: url(./images/younifi-logo.svg);
    background-position: center center;
    background-repeat: no-repeat;
    width: 220px;
    height: 100px;
    background-size: 100%;
}

.list-in-tab {
    .list-group {
        border-top: solid 1px $gray-light;
    }

    .list-group-item:last-child {
        border-bottom: 4px solid $body-bg;
    }

    .list-group-item:first-child {
        border-top: 0;
    }

    .list-group > li {
        border-left: 0px;
        border-right: 0px;
        border-top: 4px solid $body-bg;
        padding: 20px;
        border-bottom: 0;
    }
}

.paged-list-in-tab {
    .list-group-item:last-child {
        border-bottom: 4px solid $body-bg;
    }

    .list-group > li {
        border-left: 0px;
        border-right: 0px;
        border-top: 4px solid $body-bg;
        margin: 0 -16px;
        padding: 20px;
        border-bottom: 0;
    }

    .filter {
        background: #f0f3f4;
        margin: 0 -18px;
        padding: 15px;
        margin-top: -17px;
    }
}

.results-list {
    padding-left: 0;
    list-style-type: none;

    .results-item {
        background-color: white;
        padding: 20px;
        box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.16), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        margin-top: 10px;
        cursor: pointer;

        span {
            cursor: pointer;
        }

        label {
            cursor: pointer;
        }
    }

    .results-item:hover {
        background-color: $body-bg;
    }
}

.pagecount {
    padding: 15px 0 5px 0;
}

.input-group-btn-border {
    border: 1px solid #BDC3C7;
    border-right: none;
}

/*Common styles move to separate file*/
.form-grey {
    background-color: $gray-light;
    padding: 20px 0;
}


.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    // Place the border on the list items and negative margin up for better styling
    margin-bottom: -1px;
    background-color: $list-group-bg;
    border: 1px solid $list-group-border;
    // Round the first and last items
}


// Interactive list items
//
// Use anchor or button elements instead of `li`s or `div`s to create interactive items.
// Includes an extra `.active` modifier class for showing selected items.

a.list-group-item,
button.list-group-item {
    color: $list-group-link-color;

    .list-group-item-heading {
        color: $list-group-link-heading-color;
    }
    // Hover state
    &:hover,
    &:focus {
        text-decoration: none;
        color: $list-group-link-hover-color;
        background-color: $list-group-hover-bg;
    }
}

button.list-group-item {
    width: 100%;
    text-align: left;
}

.list-group-item {
    // Disabled state
    &.disabled,
    &.disabled:hover,
    &.disabled:focus {
        background-color: $list-group-disabled-bg;
        color: $list-group-disabled-color;
        cursor: $cursor-disabled;
        // Force color to inherit for custom content
        .list-group-item-heading {
            color: inherit;
        }

        .list-group-item-text {
            color: $list-group-disabled-text-color;
        }
    }
}


.list-group.results-table {
    .list-group-item:first-child, .list-group-item:last-child {
        border-radius: 0;
    }

    .list-group-item {
        padding: 20px;
        border: none;
        border-top: 4px solid $gray-light;
    }
}

.inner-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.word-break {
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.textarea-vertical-resize {
    resize: vertical;
}

small,
.small {
    font-size: 85%;
}

mark,
.mark {
    background-color: #fcf8e3;
    padding: .2em;
}

//
// Utility classes
// --------------------------------------------------


// Floats
// -------------------------

.clearfix {
    @include clearfix;
}

.center-block {
    @include center-block;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}


// Toggling content
// -------------------------

// Note: Deprecated .hide in favor of .hidden or .sr-only (as appropriate) in v3.0.1
.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.invisible {
    visibility: hidden;
}

.text-hide {
    @include hide-text;
}


// Hide from screenreaders and browsers
//
// Credit: HTML5 Boilerplate

.hidden {
    display: none !important;
}


// For Affix plugin
// -------------------------

.affix {
    position: fixed;
}



.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-nowrap {
    white-space: nowrap;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-uppercase, .initialism {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-muted {
    color: #a2a2a3;
}

.text-primary {
    color: #8B418C;
}

a.text-primary:hover,
a.text-primary:focus {
    color: #683169;
}

.text-success {
    color: #3c763d;
}

a.text-success:hover,
a.text-success:focus {
    color: #2b542c;
}

.text-info {
    color: #31708f;
}

.card {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.08);
    transition: 0.25s;
    padding: 20px;
    margin-bottom: 24px;
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    background-color: $background;
}

.panel-border {
    box-shadow: $boxshadow;
    border-radius: 0px;
}

.modal.fade {
    overflow: auto;
}


.text-left {
    text-align: left;
}

.text-darkgray {
    color: $gray-base;
}

.popover {
    white-space: pre-wrap;
}

.wrap-line {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
/* draggable list-group with breaks */
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.container:before, .container:after {
    content: " ";
    display: table;
}

.container:after {
    clear: both;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.container-fluid:before, .container-fluid:after {
    content: " ";
    display: table;
}

.container-fluid:after {
    clear: both;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.row:before, .row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}

.col-xs-1 {
    width: 8.33333%;
}

.col-xs-2 {
    width: 16.66667%;
}

.col-xs-3 {
    width: 25%;
}

.col-xs-4 {
    width: 33.33333%;
}

.col-xs-5 {
    width: 41.66667%;
}

.col-xs-6 {
    width: 50%;
}

.col-xs-7 {
    width: 58.33333%;
}

.col-xs-8 {
    width: 66.66667%;
}

.col-xs-9 {
    width: 75%;
}

.col-xs-10 {
    width: 83.33333%;
}

.col-xs-11 {
    width: 91.66667%;
}

.col-xs-12 {
    width: 100%;
}
//////////////////////////////// ACCESS  DENIED////////////////////////////////
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.navbar-icon-top .navbar-nav .nav-link > .fa {
    position: relative;
    width: 36px;
    font-size: 24px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
    font-size: 0.75rem;
    position: absolute;
    right: 0;
    font-family: sans-serif;
}

.navbar-icon-top .navbar-nav .nav-link > .fa {
    top: 3px;
    line-height: 12px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
    top: -10px;
}

@media (min-width: 576px) {
    .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link {
        text-align: center;
        display: table-cell;
        height: 70px;
        vertical-align: middle;
        padding-top: 0;
        padding-bottom: 0;
    }

    .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa {
        display: block;
        width: 48px;
        margin: 2px auto 4px auto;
        top: 0;
        line-height: 24px;
    }

    .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa > .badge {
        top: -7px;
    }
}

@media (min-width: 768px) {
    .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link {
        text-align: center;
        display: table-cell;
        height: 70px;
        vertical-align: middle;
        padding-top: 0;
        padding-bottom: 0;
    }

    .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa {
        display: block;
        width: 48px;
        margin: 2px auto 4px auto;
        top: 0;
        line-height: 24px;
    }

    .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa > .badge {
        top: -7px;
    }
}

@media (min-width: 992px) {
    .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link {
        text-align: center;
        display: table-cell;
        height: 70px;
        vertical-align: middle;
        padding-top: 0;
        padding-bottom: 0;
    }

    .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa {
        display: block;
        width: 48px;
        margin: 2px auto 4px auto;
        top: 0;
        line-height: 24px;
    }

    .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa > .badge {
        top: -7px;
    }
}

@media (min-width: 1200px) {
    .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link {
        text-align: center;
        display: table-cell;
        height: 70px;
        vertical-align: middle;
        padding-top: 0;
        padding-bottom: 0;
    }

    .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa {
        display: block;
        width: 48px;
        margin: 2px auto 4px auto;
        top: 0;
        line-height: 24px;
    }

    .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa > .badge {
        top: -7px;
    }
}



//////////////////////////////// ACCESS  DENIED////////////////////////////////


////////////////////////////////   PAGER      ////////////////////////////////
//
// Pagination (multiple pages)
// --------------------------------------------------
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: $line-height-computed 0;
    border-radius: $border-radius-base;

    > li {
        display: inline; // Remove list-style and block-level defaults
        > a,
        > span {
            position: relative;
            float: left; // Collapse white-space
            padding: $padding-base-vertical $padding-base-horizontal;
            line-height: $line-height-base;
            text-decoration: none;
            color: $pagination-color;
            background-color: $pagination-bg;
            border: 1px solid $pagination-border;
            margin-left: -1px;
        }
    }

    > li > a,
    > li > span {
        &:hover,
        &:focus {
            z-index: 2;
            color: $pagination-hover-color;
            background-color: $pagination-hover-bg;
            border-color: $pagination-hover-border;
        }
    }

    > .active > a,
    > .active > span {
        &,
        &:hover,
        &:focus {
            z-index: 3;
            color: $pagination-active-color;
            background-color: $pagination-active-bg;
            border-color: $pagination-active-border;
            cursor: default;
        }
    }

    > .disabled {
        > span,
        > span:hover,
        > span:focus,
        > a,
        > a:hover,
        > a:focus {
            color: $pagination-disabled-color;
            background-color: $pagination-disabled-bg;
            border-color: $pagination-disabled-border;
            cursor: $cursor-disabled;
        }
    }
}
// Sizing
// --------------------------------------------------


.pager {
    padding-left: 0;
    margin: $line-height-computed 0;
    list-style: none;
    text-align: center;
    /*@include clearfix;*/
    li {
        display: inline;

        > a,
        > span {
            display: inline-block;
            padding: 5px 14px;
            background-color: $pager-bg;
            border: 1px solid $pager-border;
            border-radius: $pager-border-radius;
        }

        > a:hover,
        > a:focus {
            text-decoration: none;
            background-color: $pager-hover-bg;
        }
    }

    .next {
        > a,
        > span {
            float: right;
        }
    }

    .previous {
        > a,
        > span {
            float: left;
        }
    }

    .disabled {
        > a,
        > a:hover,
        > a:focus,
        > span {
            color: $pager-disabled-color;
            background-color: $pager-bg;
            cursor: $cursor-disabled;
        }
    }
}


////////////////////////////////   PAGER      ////////////////////////////////
