@using DataRepository.Enums
@using DataRepository.Extensions

@{
    Layout = "../Shared/_Layout.cshtml";
    @Scripts.Render("~/Scripts/app/customer/customer.details.js")
    @Scripts.Render("~/Scripts/bootbox.min.js");
    ViewBag.Title = "Administration";
}

    <h2>This is Administration area</h2>