@model SocialCareProject.Areas.Customer.Models.Home.NotificationCountModel


@if (Model.Number != 0)
{
    <ul class="navbar-nav ">
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Notifications","Home")">
                <i class="fa fa-bell">
                    <span class="badge badge-info">@Model.Number</span>
                </i>
                Сповіщення
            </a>
        </li>
    </ul>
}
@if (Model.Number == 0)
{
    <ul class="navbar-nav ">
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Notifications","Home")">
                <i class="fa fa-bell">
                    <span class="badge badge-info"></span>
                </i>
                Сповіщення
            </a>
        </li>
    </ul>
}
<script>
    NotificationsList= @Html.Raw(Json.Encode( ViewBag.Notifications));

    function showNotifications() {
        NotificationsList.forEach
    }
</script>
